<div class="row row-cols-1 row-cols-md-3 g-7">
    <div class="col">
        <div class="card">
            <img src="~/img/Admin/duduk.jpg" style="width:120px;height:120px; margin:0 auto ">
            <div class="card-body">
               <h5> <a class="nav-link active" aria-current="page" href="/Admin/GostergePaneli/Kullanicilar">Kullanıcılar</a></h5>
                <p class="card-text">Kullanıcılarla ilgili değişikliklerinizi buradan yapabilirsiniz.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/Admin/top.png" style="width:120px;height:120px; margin:0 auto ">
            <div class="card-body">
               <h5> <a class="nav-link active" aria-current="page" href="/Admin/GostergePaneli/Roller">Roller</a></h5>
                <p class="card-text">Roller ile ilgili değişikliklerinizi buradan yapabilirsiniz.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/Admin/halisaha.jpg" style="width:240px;height:120px; margin: 10px auto 0 ">
            <div class="card-body">
               <h5> <a class="nav-link active" aria-current="page" href="/Admin/GostergePaneli/HaliSahalar">Halı Sahalar</a></h5>
                <p class="card-text">Halı Sahalar ile ilgili değişikliklerinizi buradan yapabilirsiniz.</p>
            </div>
        </div>
    </div>
 </div>






