@{
    ViewData["Title"] = "Sehirler";
}


<h2>Sehirler</h2>

<div id="divSehirler">
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="YeniSehir()">
    Yeni Şehir Ekle
</button>


<div class="modal fade" id="sehirModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Şehir Bilgileri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label for="inputSehirId" class="form-label">Plaka No</label>
                <input type="text" id="inputSehirId" class="form-control"></input>

                <label for="inputSehirAd" class="form-label">Şehir Adı</label>
                <input type="text" id="inputSehirAd" class="form-control">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="SehirKaydet()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/admin/sehir.js" asp-append-version="true"></script>