@{
    ViewData["Title"] = "Halı Saha Seç";
}

<style>

    .content {
        text-align: center;
    }

    .btn {
        margin-top: 20px;
    }
</style>
<div class="content">
    <h3>Halı Sahaları seçelim</h3>

</div>

<label for="selectSehirleriGetir" class="form-label">Şehir</label>
<select typeof="text" id="selectSehirleriGetir" class="form-control"></select>
   
