@{
    ViewData["Title"] = "Index";
}


    <title>@ViewData["Title"]</title>
    <style>
       
        .content {
            text-align: center;
        }

        .btn {
            margin-top: 20px;
        }
    </style>


<div class="content">
    <h1>Takımını Kur - Rakibini Seç</h1>

    <div class="d-grid gap-10">
        <a href="Home/HaliSahalariGetirBySehirId" class="btn btn-primary">Halı Saha Bul</a>
    </div>
</div>
