@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .center-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50vh; 
    }
</style>

<div class="center-text">
<h1>Admin Paneli'ne Hoş Geldiniz</h1>

<h4>Lütfen yapmak istediğiniz işlemleri soldaki menülerden seçiniz.</h4>
</div>
